src/*.exe
src/nexuscoin
src/nexuscoind
src/test_nexuscoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.nexuscoin

# Compilation and Qt preprocessor part
*.qm
Makefile
nexuscoin-qt
Nexuscoin-Qt.app

# Unit-tests
Makefile.test
nexuscoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
